/* CSS coding here */
body {
  background-color: #3B4CCA;
}

header {
  margin-top: 140px;
}

button {
  border-radius: 10% 25%;
  font-weight: bold;
  text-transform: capitalize;
  width: 120%;
  height: 110%;
  background-color: #FFDE00;
  border-color: #B3A125;
  border-width: 3px;
}

.navbar {
  background-color: #CC0000;
}

.pokemon-list {
  max-width: fit-content;
  margin: 45px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.pokemon {
  margin: 15px;
}

.pokemon:hover, .pokemon:focus {
  cursor: pointer;
  opacity: 25%;
  transition-duration: 0.5s;
}

.modal-content {
  text-align: center;
}
