/* CSS coding here */
h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-decoration: underline;
}

.pokeinfo {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.pokeinfo__item {
}
